.mainLayoutContainer {
  padding: 10px 0;
}
.allTaskContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .allTaskContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 950px) {
  .mainLayoutContainer {
    padding: 0 150px;
  }
  .allTaskContainer {
    display: grid;
    grid-template-columns: repeat(1, 90%);
  }
}
@media screen and (max-width: 750px) {
  .mainLayoutContainer {
    padding: 0 10px;
  }
}
