.navContainer {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  font-size: 20px;
}

.navItemsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchOptionContainer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.searchOption,
.addTaskBtn {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
}

.addTaskBtn {
  background: #6215a9;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 960px) {
  .navContainer {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .navItemsContainer {
    justify-content: space-between;
  }
}
