* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.navContainer {
  background-color: blueviolet;
  color: white;
  padding: 20px 0;
}
.navContainer > h1 {
  margin: 0;
}

.mainLayoutContainer {
  background-color: bisque;
  padding: 10px 0;
}
